# Build Artifacts
build/
html/
*.x
*.gmo
*.mo
Makefile
trackballs
install_manifest.txt
CMakeFiles
CMakeCache.txt
execstring
highScores

# Tool Artifacts
*.directory
*.out
Doxyfile
doxyfile
*.config
*.creator
*.files
*.includes
*#
*~
*.bak
*.user

