[Desktop Entry]
Name=Trackballs
GenericName=Marble Madnees type game
Comment=Guide a marble through a maze and avoid obstacles
Comment[de]=Führe eine Murmel durch ein Labyrinth und weiche Hindernissen aus
Exec=trackballs
Icon=trackballs
Type=Application
Categories=Game;ArcadeGame;
Keywords=marble;maze;obstacle;
